*,::before,::after{
    margin: 0;
    box-sizing: border-box;
}
a{text-decoration: none;}
img{vertical-align: bottom;}
:disabled {cursor: not-allowed;}
iframe{border: none;}
button{cursor: pointer;}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}
.clear{clear: both;}
.row{margin: 0 -15px;}
.row:after{
    content: ""; clear: both; display: block;
}


.row .col-1{flex-basis:8.33%;}
.row .col-2{flex-basis:16.66%;}
.row .col-3{flex-basis:25%;}
.row .col-4{flex-basis:33.33%;}
.row .col-5{flex-basis:41.66%;}
.row .col-6{flex-basis:50%;}
.row .col-7{flex-basis:58.33%;}
.row .col-8{flex-basis:66.66%;}
.row .col-9{flex-basis:75%;}
.row .col-10{flex-basis:83.33%;}
.row .col-11{flex-basis:91.66%;}
.row .col-12{flex-basis:100%;}


.row{margin: 0 -15px;
display: flex;
flex-flow: row;
}

button{
    text-transform: capitalize;
}

body{
    text-transform: capitalize;
}



.row[class^="col"]{
    flex: 1 1 auto;
    padding: 0 15px;
    }

    @font-face{
        font-family: rl;
        src: url(../font/Roboto-Light.woff);
    }
    
    @font-face{
        font-family: rm;
        src: url(../font/Roboto-Medium.woff);
    }
    
    @font-face{
        font-family: rr;
        src: url(../font/Roboto-Regular.woff);
    }
    
    @font-face{
        font-family: rb;
        src: url(../font/Roboto-Bold.woff);
    }
    @font-face{
        font-family: rbl;
        src: url(../font/Roboto-Black.woff);
    }
    @font-face{
        font-family: hn;
        src: url(../font/helveticaneue.woff2);
    }
    @font-face{
        font-family: hb;
        src: url(../font/helveticaneue-bold.woff2);
    }
    @font-face{
        font-family: gv;
        src: url(../font/Great\ Vibes.woff2);
    }

 
    

.rl{ font-family: rl, sans-serif; }
.rb{ font-family: rb, sans-serif; }
.rm{ font-family: rm, sans-serif; }
.rr{ font-family: rr, sans-serif; }
.rbl{ font-family: rbl, sans-serif; }
.hn{ font-family: hn, sans-serif; }
.hb{ font-family: hb, sans-serif; }
.gv{ font-family: gv, sans-serif; }

/* Layout */

.flex-1{ background: #e10; color: #fff; height: 100px; position: sticky; top: 0; height: 4.5em;  z-index: 1; }
.flex-1 h1 a{ color: #fff; position: fixed; top: 0.1em; text-decoration: none; }
.flex-1 h1 a p{display: inline; color: #fff; }
.flex-1 p{ transform: translate(25%); margin-top: 2.5em; }
.flex-1 nav ul{display: flex; justify-content: space-between; list-style-type: none; align-items: center;}
.flex-1 nav ul li{margin: 2em 0;}
.flex-1 nav ul li a{color: #fff; position: fixed; top: 1.5em; text-decoration: none;} 
.flex-1 nav ul li a:hover{color: rgb(0, 0, 0);} 
.flex-1 nav ul li a::after{content: ''; display: block; height: 0.20em; width: 0; background: rgba(255, 255, 255, 0.73); transition: all 0.5s;}
.flex-1 nav ul li a:hover::after{width: 100%;}

.flex-14 h2{ margin-top: 4em; }
.flex-14 h2 a{ color: #000; }
.flex-14 p{ margin-left: 2.2em; margin-top: -1em; }
.flex-14 h3{ margin-top: 1em; font-weight: 500; font-size: 12px;}
.flex-14 i{ position: relative; top: 8px; padding-top: 10px; }
.flex-14 span{ font-size: 15px; position: relative; top: 8px; text-transform: none; }
.flex-14 #we{ color: #7ac200; }
.flex-14 h4{  margin-top: 5em; transform: translate(25%); }
.flex-14 nav ul{ display: flex; flex-direction: column; list-style: none; }
.flex-14 nav ul li{ transform: translate(17%); }
.flex-14 nav ul li a{ color: #000; text-decoration: none; }
.flex-14 nav ul li a:hover{ color: rgb(220, 46, 46); } 
.flex-14 nav ul li a::after{ content: ''; display: block; height: 0.20em; width: 0; background: rgba(255, 0, 0, 0.73); transition: all 0.5s; }
.flex-14 nav ul li a:hover::after{ width: 100%; }
.animate-charcter { display: flex; align-items: center; text-transform: uppercase; background-image: linear-gradient(-225deg, #3cba54 0%, #f4c20d 29%, #db3236 67%, #4885ed 100%); background-size: auto auto; background-clip: border-box; background-size: 200% auto; color: #fff; background-clip: text; -webkit-background-clip: text; -webkit-text-fill-color: transparent; animation: textclip 2s linear infinite; display: inline-block; font-size: 35px;}
@keyframes textclip { to { background-position: 200% center; }}

#btn-back-to-top { position: fixed; bottom: 20px; right: 20px; display: none;}
.btn { width: 325px; height: 47px; font-size: 20px; color: #fff; background: #000; }